{{!-- El home (que recibe los argumentos titulo nombre etc) llama al partial header asi que los puedo utilizar aca --}}

<header id="header">
    <div class="logo"><a href="/">{{ titulo }} <span>{{ nombre }}</span></a></div>
    <a href="#menu"><span>Menu</span></a>
</header>